ion-content {
	--background: var(--ion-color-secondary);

	ion-card {
		ion-card-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 1rem;

			.buttons-wrapper {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				gap: 0.5rem;

				ion-button {
					--border-radius: 0.25rem;
					font-size: 1rem;

					&.clear-btn {
						--background: var(--ion-color-danger);
						color: var(--ion-color-light);
					}
				}
			}
		}
	}
}

::ng-deep .danger-btn {
	color: var(--ion-color-light) !important;
	background: var(--ion-color-danger) !important;
	border: 1px solid var(--ion-color-light) !important;
}
