ion-card {
	width: 100%;
	background-color: var(--ion-color-custom-f7f8fa);
}

ion-icon {
	width: 1.5rem;
	height: 1.5rem;
	font-size: 1.5rem;
}

ion-card-content {
	position: relative;
	padding: 0;
	width: 100%;

	.add-screenshot-btn {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		top: 50%;
		left: 50%;
		z-index: 10;
		border-radius: 0.75rem;
		transform: translate(-50%, -50%);

		ion-icon {
			color: var(--ion-color-primary);
		}

		ion-text {
			font-size: 1rem;
			font-weight: 600;
			color: var(--ion-color-primary-dark);
		}
	}

	.upload-progress-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		.upper-part {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 1rem;

			ion-text {
				font-weight: 700;
				font-size: 1.2rem;
				color: var(--ion-color-primary-dark);
			}
		}

		.bottom-part {
			margin-left: auto;
			margin-right: auto;

			ion-text {
				font-size: 1rem;
				font-weight: 700;
				color: var(--ion-color-text-primary);
			}
		}
	}

	ion-button {
		top: -0.25rem;
		position: relative;
		height: 2.25rem;
		font-size: 0.75rem;
		margin: 0;
		text-transform: uppercase;
	}
}

ion-img {
	width: 100%;
	height: 100%;
	opacity: 0.1;
}

ion-modal {
	--width: 100%;
	--backdrop-opacity: 1;
	--border-radius: 0.75rem;

	ion-content {
		--padding-top: 1.5rem;
		--padding-end: 1.5rem;
		--padding-start: 1.5rem;
	}

	.modal-header {
		font-size: 14px;
		font-weight: 600;
		line-height: 14px;
		color: var(--ion-color-medium);
	}

	.options-container {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		margin: 1.5rem 0;
	}

	.option {
		display: flex;
		align-items: center;
		gap: 1.5rem;

		ion-text {
			font-size: 14px;
			font-weight: 600;
			line-height: 1.5rem;
			color: var(--ion-color-text-primary);
		}
	}

	.square-icon {
		width: 42px;
		height: 42px;
		position: relative;
		background: var(--ion-color-custom-51);

		ion-icon {
			color: var(--ion-color-primary-dark);
		}
	}
}
