<ion-header>
	<ion-toolbar>
		<ion-back-button slot="start" defaultHref="manage-account"></ion-back-button>
		<ion-title appTranslate="language_settings_header">Language Settings</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>
			<ion-text class="header" appTranslate="language_settings">Language settings</ion-text>
			<ion-text class="description" appTranslate="select_and_confirm_your_language"
				>Select and confirm your language.</ion-text
			>
		</ion-card-header>
		<ion-card-content>
			<!-- <ion-select
				interface="alert"
				[cancelText]="'cancel' | appTranslate: 'cancel'"
				mode="md"
				fill="outline"
				[value]="selectedLanguage"
				[label]="'Set language' | appTranslate: 'set_language'"
				label-placement="floating"
				(ionChange)="changeLanguage($event)"
			>
				<ion-icon name="home" slot="start" />
				@for (option of languageOptions; track option.value) {
				<ion-select-option [value]="option.value"
					>{{ option.label | appTranslate: option.label }}</ion-select-option
				>
				}
			</ion-select> -->
			<mat-form-field class="language-form-field">
				<mat-select
					#select
					[value]="selectedLanguage"
					(selectionChange)="changeLanguage($event.value)"
				>
					<mat-select-trigger class="language-trigger">
						<ng-container
							*ngTemplateOutlet="flag; context: { language: selectedLanguage }"
						></ng-container>
						@if (getCurrentLanguageLabelKey(); as langKey) {
						<ion-text>{{ langKey | appTranslate: langKey }}</ion-text>
						}
					</mat-select-trigger>

					@for (option of languageOptions; track option.value) {
					<mat-option [value]="option.value">
						<div class="language-option">
							<ng-container
								*ngTemplateOutlet="flag; context: { language: option.value }"
							></ng-container>
							<ion-text>{{ option.label | appTranslate: option.label }}</ion-text>
						</div>
					</mat-option>
					}
				</mat-select>
			</mat-form-field>
		</ion-card-content>
	</ion-card>
</ion-content>

<ng-template #flag let-language="language">
	@if (isOnline()) {
	<img
		class="flag"
		[src]="'https://purecatamphetamine.github.io/country-flag-icons/3x2/' + flagMap[language] + '.svg'"
		[alt]="language"
		width="30px"
		height="20px"
	/>
	} @else {
	<span class="fi fi-{{ flagMap[language].toLowerCase() }} flag"></span>
	}
</ng-template>
