<app-home-header
	defaultHref="manage-account"
	[headerTitle]="'Language Settings' | appTranslate: 'language_settings_header'"
/>

<ion-content>
	<ion-card>
		<ion-card-header>
			<ion-text class="header" appTranslate="language_settings">Language settings</ion-text>
			<ion-text class="description" appTranslate="select_and_confirm_your_language"
				>Select and confirm your language.</ion-text
			>
		</ion-card-header>
		<mat-divider />
		<ion-card-content>
			<mat-form-field class="language-form-field">
				<mat-select
					#select
					[value]="selectedLanguage"
					(selectionChange)="changeLanguage($event.value)"
				>
					<mat-select-trigger class="language-trigger">
						<ng-container *ngTemplateOutlet="flag; context: { language: selectedLanguage }" />
						@if (getCurrentLanguageLabelKey(); as langKey) {
						<ion-text>{{ langKey | appTranslate: langKey }}</ion-text>
						}
					</mat-select-trigger>

					@for (option of languageOptions; track $index) {
					<mat-option [value]="option.value">
						<div class="language-option">
							<ng-container *ngTemplateOutlet="flag; context: { language: option.value }" />
							<ion-text>{{ option.label | appTranslate: option.label }}</ion-text>
						</div>
					</mat-option>
					}
				</mat-select>
			</mat-form-field>
		</ion-card-content>
	</ion-card>
</ion-content>

<ng-template #flag let-language="language">
	@if (isOnline()) {
	<ion-img
		[src]="'https://purecatamphetamine.github.io/country-flag-icons/3x2/' + flagMap[language] + '.svg'"
		[alt]="language"
		width="36px"
		height="24px"
	/>
	} @else {
	<span class="fi fi-{{ flagMap[language].toLowerCase() }}"></span>
	}
</ng-template>
