ion-header {
	ion-toolbar {
		--background: var(--ion-color-primary);
	}
}

ion-content {
	--background: var(--ion-color-secondary);
	position: relative;

	ion-text {
		position: absolute;
		top: 50%;
		left: 50%;
		font-weight: 400;
		font-size: 1.5rem;
		text-align: center;
		letter-spacing: 0.1rem;
		transform: translate(-50%, -50%);
		color: var(--ion-color-text-secondary);
	}
}
