ion-content {
	--background: var(--ion-color-secondary);

	ion-card {
		ion-card-header {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 1rem;

			ion-text.header {
				font-size: 1.25rem;
				font-weight: 700;
				color: var(--ion-color-text-primary);
			}

			ion-text.description {
				font-size: 1rem;
				font-weight: 400;
				color: var(--ion-color-text-primary);
			}
		}

		ion-card-content {
			.content-wrapper {
				margin-top: 0.5rem;
				display: flex;
				flex-direction: column;
				justify-content: start;
				align-items: center;
				gap: 1rem;

				ion-input {
					font-size: 1rem;

					ion-icon {
						width: 1rem;
						height: 1rem;
						font-size: 1rem;
						color: var(--ion-color-tertiary);
					}
				}
			}

			.buttons-wrapper {
				margin-top: 2rem;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				gap: 0.5rem;

				ion-button {
					font-size: 1rem;
				}
			}
		}
	}
}
