<ion-header>
	<ion-toolbar>
		<ion-back-button slot="start" defaultHref="home"></ion-back-button>
		<ion-title>Manage Account</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="first-card">
		<ion-card-header>
			<div class="circle">
				<ion-icon name="person" />
			</div>
			<ion-text>Maciej Grochowski</ion-text>
		</ion-card-header>
		<ion-card-content>
			<ion-text>Manage your account details here</ion-text>
		</ion-card-content>
	</ion-card>
	<ion-card class="second-card">
		<ion-card-content>
			<div class="settings-item" routerLink="language-settings">
				<div class="square">
					<ion-icon name="language" class="first-icon" />
				</div>
				<ion-text>Language settings</ion-text>
				<ion-icon name="chevron-forward" class="second-icon" />
			</div>
			<div class="divider"></div>
			<div class="settings-item">
				<div class="square">
					<ion-icon name="people" class="first-icon" />
				</div>
				<ion-text>Users settings</ion-text>
				<ion-icon name="chevron-forward" class="second-icon" />
			</div>
			<div class="divider"></div>
			<div class="settings-item">
				<div class="square">
					<ion-icon name="earth" class="first-icon" />
				</div>
				<ion-text>Global settings</ion-text>
				<ion-icon name="chevron-forward" class="second-icon" />
			</div>
			<div class="divider"></div>
			<div class="settings-item">
				<div class="square">
					<ion-icon name="contrast" class="first-icon" />
				</div>
				<ion-text>Theme settings</ion-text>
				<ion-icon name="chevron-forward" class="second-icon" />
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>
