<app-home-header
	defaultHref="home"
	[headerTitle]="'Manage Account' | appTranslate: 'manage_account'"
/>

<ion-content>
	<ion-card class="first-card">
		<ion-card-header>
			<ion-grid>
				<ion-row>
					<ion-col size="6" *ngFor="let photo of photoService.photos; index as i">
						<ion-img [src]="photo.webviewPath" />
						<div class="delete-btn" (click)="deletePhoto(photo, i)">
							<ion-icon name="trash" />
						</div>
						<div class="expand-btn" (click)="openExpandModal(photo)">
							<ion-icon name="expand" />
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
			<div class="circle">
				<ion-icon name="person" />
			</div>
			@if (isLocalStorageUserFullName) {
			<ion-text>{{ userFullName }}</ion-text>
			} @else {
			<ion-text
				class="error"
				appTranslate="edit_your_user_settings_to_add_the_personal_preferences_to_this_account"
				>Edit your user settings to add the personal preferences to this account.</ion-text
			>
			}
		</ion-card-header>
		<mat-divider />
		<ion-card-content>
			<ion-text appTranslate="manage_your_account_details_here"
				>Manage your account details here.</ion-text
			>
		</ion-card-content>
	</ion-card>
	<ion-card class="second-card">
		<ion-card-content>
			<div class="settings-item" routerLink="language-settings">
				<div class="square">
					<ion-icon name="language" class="first-icon" />
				</div>
				<ion-text appTranslate="language_settings">Language settings</ion-text>
				<ion-icon name="chevron-forward" class="second-icon" />
			</div>
			<mat-divider />
			<div class="settings-item" routerLink="user-settings">
				<div class="square">
					<ion-icon name="people" class="first-icon" />
				</div>
				<ion-text appTranslate="user_settings">User settings</ion-text>
				<ion-icon name="chevron-forward" class="second-icon" />
			</div>
			<mat-divider />
			<div class="settings-item" routerLink="edit-data-settings">
				<div class="square">
					<ion-icon name="pencil" class="first-icon" />
				</div>
				<ion-text appTranslate="edit_data_settings">Edit data settings</ion-text>
				<ion-icon name="chevron-forward" class="second-icon" />
			</div>
			<mat-divider />
			<div class="settings-item" routerLink="global-settings">
				<div class="square">
					<ion-icon name="earth" class="first-icon" />
				</div>
				<ion-text appTranslate="global_settings">Global settings</ion-text>
				<ion-icon name="chevron-forward" class="second-icon" />
			</div>
			<mat-divider />
			<div class="settings-item" routerLink="data-settings">
				<div class="square">
					<ion-icon name="settings" class="first-icon" />
				</div>
				<ion-text appTranslate="data_settings">Data settings</ion-text>
				<ion-icon name="chevron-forward" class="second-icon" />
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>
