ion-img::part(image) {
	object-fit: cover;
	border-radius: 0.75rem;
}

.zoomed-img::part(image) {
	object-fit: contain;
}

.spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;

	ion-spinner {
		width: 1.25rem;
	}
}

ion-content {
	--background: var(--ion-color-text-primary);

	ion-button.close-btn {
		position: absolute;
		top: 0.75rem;
		right: 0.75rem;
		width: 2.25rem;
		height: 2.25rem;
		margin-top: 3rem;
	}
}
