<app-home-header
	defaultHref="kpi-trends"
	[headerTitle]="'Edit KPI values' | appTranslate: 'edit_kpi_values'"
/>

<ion-content>
	<ion-card>
		<ion-card-header>
			<ion-text appTranslate="edit_kpi_trends_values">Edit KPI Trends values</ion-text>
		</ion-card-header>
		<ion-card-content>
			@if (!monthsOptions.length) {
			<ion-text class="no-data" appTranslate="no_data_available">No data available</ion-text>
			}
			<ion-select
				interface="popover"
				[disabled]="!monthsOptions.length"
				[cancelText]="'cancel' | appTranslate: 'cancel'"
				mode="md"
				fill="outline"
				[label]="'Set month' | appTranslate: 'set_month'"
				label-placement="floating"
				(ionChange)="changeMonth($event)"
			>
				@for (option of monthsOptions; track option.value) {
				<ion-select-option [value]="option.value"
					>{{ translateLabel(option.label) }}</ion-select-option
				>
				}
			</ion-select>
			<ion-select
				interface="popover"
				[disabled]="!selectedMonth.length"
				[cancelText]="'cancel' | appTranslate: 'cancel'"
				mode="md"
				fill="outline"
				[label]="'Set money for month' | appTranslate: 'set_money_for_month'"
				label-placement="floating"
				(ionChange)="changeMoney($event)"
			>
				@for (option of moneyOptions; track option.value) {
				<ion-select-option [value]="option.value">{{ option.label }}</ion-select-option>
				}
			</ion-select>
			<!-- <div class="textarea-label">
				<ion-text appTranslate="add_note">Edit note</ion-text>
				<ion-icon slot="start" name="pencil" />
				<ion-text appTranslate="optionally">(optionally)</ion-text>
			</div>
			<ion-textarea [rows]="3" [autoGrow]="true" type="text" maxlength="3000" /> -->

			<div class="buttons-wrapper">
				<ion-button fill="outline" (click)="cancel()" appTranslate="cancel">Cancel</ion-button>
				<ion-button
					[disabled]="!selectedMonth.length || !selectedMoney.length"
					(click)="save()"
					appTranslate="save"
					>Save</ion-button
				>
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>
