<app-home-header defaultHref="home" [headerTitle]="'KPI Trends' | appTranslate: 'kpi_trends'" />

<ion-content>
	<ion-card>
		<ion-card-header>
			@if (hasKpiData) {
			<div class="date-wrapper">
				<div class="date-btn">
					<ion-datetime-button slot="date-target" datetime="dateFrom" />
					<ion-icon name="calendar" />
				</div>
				<ion-text appTranslate="choose_start_date">Choose start date</ion-text>
			</div>
			<div class="download-report">
				<ion-button (click)="downloadPDF()">
					<ion-icon slot="start" name="document-text" />
					<span>PDF</span>
				</ion-button>
				<ion-button fill="outline" (click)="downloadCSV()">
					<ion-icon slot="start" name="download" />
					<span>CSV</span>
				</ion-button>
			</div>
			} @if (!hasKpiData) {
			<div class="text-icon-wrapper">
				<ion-icon name="stats-chart" />
				<ion-text appTranslate="this_is_kpi_trends_page">This is KPI Trends page</ion-text>
			</div>
			}
			<ion-icon id="date-question-trigger" name="help-circle" />
			@if (hasKpiData) {
			<div class="date-wrapper">
				<ion-text appTranslate="choose_end_date">Choose end date</ion-text>
				<div class="date-btn">
					<ion-datetime-button slot="date-target" datetime="dateTo" />
					<ion-icon name="calendar" />
				</div>
			</div>
			}
		</ion-card-header>

		<ion-card-content>
			@if (hasKpiData) { @switch (selectedChartType()) { @case ("line") {
			<canvas
				baseChart
				type="line"
				[datasets]="chartDataLine.datasets"
				[options]="chartOptionsLine"
				[labels]="chartDataLine.labels"
			>
			</canvas>
			} @case ("bar") {
			<canvas
				baseChart
				type="bar"
				[datasets]="chartDataBar.datasets"
				[options]="chartOptionsBar"
				[labels]="chartDataBar.labels"
			>
			</canvas>
			<!-- } @case ("doughnut") {
			<canvas
				baseChart
				type="doughnut"
				[datasets]="chartDataBar.datasets"
				[options]="chartOptionsBar"
				[labels]="chartDataBar.labels"
			>
			</canvas> -->
			} @default {
			<ion-text
				>Something went wrong! Please clear cache, restart the application and select chart type in
				settings.</ion-text
			>
			}} } @else {
			<ion-text appTranslate="no_data_available">No data available</ion-text>
			}
		</ion-card-content>
	</ion-card>
</ion-content>

<ion-modal [keepContentsMounted]="true">
	<ng-template>
		<ion-datetime
			id="dateFrom"
			presentation="month"
			[locale]="datetimeLocale"
			[value]="startMonth() ? formatMonthValue(startMonth()) : null"
			[min]="'2026-01'"
			[max]="endMonth() ? formatMonthValue(endMonth()) : '2026-12'"
			(ionChange)="onStartMonthChange($event)"
		/>
	</ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true">
	<ng-template>
		<ion-datetime
			id="dateTo"
			presentation="month"
			[locale]="datetimeLocale"
			[value]="endMonth() ? formatMonthValue(endMonth()) : null"
			[min]="startMonth() ? formatMonthValue(startMonth()) : '2026-01'"
			[max]="'2026-12'"
			(ionChange)="onEndMonthChange($event)"
		/>
	</ng-template>
</ion-modal>

<ion-popover trigger="date-question-trigger" triggerAction="click">
	<ng-template>
		<ion-content class="ion-padding" appTranslate="here_you_can_set_your_date"
			>Here you can set your date from what time the chart should display.</ion-content
		>
	</ng-template>
</ion-popover>
