<ion-header>
	<ion-toolbar>
		<ion-back-button slot="start" defaultHref="home" />
		<ion-title appTranslate="kpi_trends">KPI Trends</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>
			<ion-icon name="stats-chart" />
			<ion-text appTranslate="this_is_kpi_trends_page">This is KPI Trends page</ion-text>
		</ion-card-header>
		<ion-card-content>
			<canvas
				baseChart
				type="line"
				[options]="chartOptionsLine"
				[labels]="chartDataLine.labels"
				[datasets]="chartDataLine.datasets"
			>
			</canvas>
			<mat-divider />
			<canvas
				baseChart
				type="bar"
				[options]="chartOptionsBar"
				[labels]="chartDataBar.labels"
				[datasets]="chartDataBar.datasets"
			>
			</canvas>
		</ion-card-content>
	</ion-card>

	<ion-fab slot="fixed" horizontal="end" vertical="bottom">
		<ion-fab-button routerLink="add-kpi-values">
			<ion-icon name="stats-chart" />
		</ion-fab-button>
	</ion-fab>
</ion-content>
