<ion-header>
	<ion-toolbar>
		<ion-back-button slot="start" defaultHref="home" />
		<ion-title appTranslate="kpi_trends">KPI Trends</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>
			<div class="text-icon-wrapper">
				<ion-icon name="stats-chart" />
				<ion-text appTranslate="this_is_kpi_trends_page">This is KPI Trends page</ion-text>
			</div>
			<div class="date-wrapper">
				<ion-text>Choose start date</ion-text>
				<div class="date-btn">
					<ion-datetime-button slot="date-target" datetime="dateFrom" />
					<ion-icon name="calendar-outline" />
				</div>
				<ion-icon id="date-question-trigger" name="help-circle" />
			</div>
		</ion-card-header>
		<ion-card-content>
			<canvas
				baseChart
				type="line"
				[options]="chartOptionsLine"
				[labels]="chartDataLine.labels"
				[datasets]="chartDataLine.datasets"
			>
			</canvas>
			<mat-divider />
			<canvas
				baseChart
				type="bar"
				[options]="chartOptionsBar"
				[labels]="chartDataBar.labels"
				[datasets]="chartDataBar.datasets"
			>
			</canvas>
		</ion-card-content>
	</ion-card>

	<ion-fab slot="fixed" horizontal="end" vertical="bottom">
		<ion-fab-button routerLink="add-kpi-values">
			<ion-icon name="add" />
		</ion-fab-button>
	</ion-fab>
</ion-content>

<ion-modal [keepContentsMounted]="true">
	<ng-template>
		<ion-datetime id="dateFrom" presentation="date" displayFormat="MMMM YY" />
		<!-- [locale]="datetimeLocale$ | async"
						[firstDayOfWeek]="(datetimeLocale$ | async) === 'en-US' ? 7 : 1"
						[min]="isEventCompleted ? undefined : defaultDate"
						[max]="isEventCompleted ? defaultDate : undefined"
						formControlName="date"
						(ionChange)="transformDate()" -->
	</ng-template>
</ion-modal>

<ion-popover trigger="date-question-trigger" triggerAction="click">
	<ng-template>
		<ion-content class="ion-padding"
			>Here you can set your date from what time the chart should display.</ion-content
		>
	</ng-template>
</ion-popover>
