<ion-header>
	<ion-toolbar>
		<ion-title>
			<div class="header-wrapper">
				<ion-icon name="person-circle" routerLink="manage-account" />
				<ion-text>Financial Analyzer</ion-text>
				<ion-icon name="stats-chart" routerLink="kpi-trends" />
			</div>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>
			<ion-text appTranslate="mobile_application_for_financial_management"
				>Mobile application for financial management</ion-text
			>
		</ion-card-header>
		<mat-divider />
		<div class="amount-wrapper">
			<ion-text appTranslate="current_bank_account_amount">Current bank account amount:</ion-text>
			<span>{{ bankAccountAmount() }}</span>
			<ion-text>PLN</ion-text>
		</div>
		<ion-card-content>
			@if (chartHasData()) {
			<canvas
				baseChart
				type="doughnut"
				[datasets]="chartData.datasets"
				[options]="chartOptions"
				[labels]="chartData.labels"
			>
			</canvas>
			<div class="buttons-wrapper">
				<ion-button routerLink="/home/kpi-trends" color="primary" appTranslate="see_your_kpi"
					>See your KPI</ion-button
				>
				<ion-button
					routerLink="/home/kpi-trends/add-kpi-values"
					color="tertiary"
					appTranslate="add_kpi_values"
					>Add KPI values</ion-button
				>
			</div>
			} @else {
			<ion-text appTranslate="no_data_available">No data available</ion-text>
			<ion-button
				routerLink="/home/kpi-trends/add-kpi-values"
				color="tertiary"
				appTranslate="add_kpi_values"
				>Add KPI values</ion-button
			>
			}
		</ion-card-content>
	</ion-card>

	<ion-item lines="none" class="dark-mode-container">
		<ion-icon name="contrast" />
		<ion-label appTranslate="dark_mode">Dark mode</ion-label>
		<ion-text appTranslate="off">Off</ion-text>
		<div class="toggle-wrapper">
			<ion-toggle [checked]="isDarkMode()" (ionChange)="toggleDarkMode($event)" />
		</div>
		<ion-text appTranslate="on">On</ion-text>
	</ion-item>

	<ion-fab slot="fixed" horizontal="start" vertical="bottom">
		<ion-fab-button (click)="toggleHelp()">
			@if (!helpVisible()) {
			<ion-icon name="help" />
			} @else {
			<ion-icon name="eye-off" />
			}
		</ion-fab-button>
	</ion-fab>

	<ion-fab slot="fixed" horizontal="end" vertical="bottom">
		<ion-fab-button routerLink="/home/kpi-trends/add-kpi-values">
			<ion-icon name="add" />
		</ion-fab-button>
		<ion-fab-button (click)="addPhotoToStorage()">
			<ion-icon name="camera" />
		</ion-fab-button>
		<ion-fab-button routerLink="/home/manage-account/language-settings">
			<ion-icon name="language" />
		</ion-fab-button>
	</ion-fab>

	<div [ngStyle]="{ display: helpVisible() ? 'block' : 'none' }">
		<ion-icon id="add-kpi-values-trigger" name="help-circle" class="help-first" />
		<ion-icon id="add-photo-trigger" name="help-circle" class="help-second" />
		<ion-icon id="set-language-trigger" name="help-circle" class="help-third" />
	</div>
</ion-content>

<ion-popover trigger="add-kpi-values-trigger" triggerAction="click">
	<ng-template>
		<ion-content class="ion-padding">
			<ion-text appTranslate="here_you_can_add_your_kpi"
				>Here you can add your KPI values to track your financial performance over time.</ion-text
			>
		</ion-content>
	</ng-template>
</ion-popover>

<ion-popover trigger="add-photo-trigger" triggerAction="click">
	<ng-template>
		<ion-content class="ion-padding">
			<ion-text appTranslate="here_you_can_add_photos"
				>Here you can add photos such as bank logo or avatar account picture.</ion-text
			>
		</ion-content>
	</ng-template>
</ion-popover>

<ion-popover trigger="set-language-trigger" triggerAction="click">
	<ng-template>
		<ion-content class="ion-padding">
			<ion-text appTranslate="here_you_can_set_your_language"
				>Here you can set your language which translation to use.</ion-text
			>
		</ion-content>
	</ng-template>
</ion-popover>

<app-home-footer />
