<ion-header>
	<ion-toolbar>
		<ion-title>
			<div class="header-wrapper">
				<ion-icon name="person-circle" routerLink="manage-account" />
				<ion-text>Financial Analyzer</ion-text>
				<ion-icon name="stats-chart" routerLink="kpi-trends" />
			</div>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="first-card">
		<ion-card-header>
			<ion-text appTranslate="mobile_application_for_financial_management"
				>Mobile application for financial management</ion-text
			>
		</ion-card-header>
		<mat-divider />
		<canvas
			baseChart
			type="doughnut"
			[options]="chartOptions"
			[labels]="chartData.labels"
			[datasets]="chartData.datasets"
		>
		</canvas>
		<mat-divider />
		<ion-card-content>
			<div class="btns-container">
				<ion-button class="left-btn" routerLink="manage-account/language-settings">
					<div class="btn-wrapper">
						<ion-icon name="arrow-back-circle-outline" />
						<span appTranslate="language_settings_header">Language Settings</span>
					</div>
				</ion-button>
				<ion-button class="right-btn" routerLink="manage-account/user-settings">
					<div class="btn-wrapper">
						<span appTranslate="user_settings_header">User Settings</span>
						<ion-icon name="arrow-forward-circle-outline" />
					</div>
				</ion-button>
			</div>
			<div class="amount-wrapper">
				<ion-text appTranslate="current_bank_account_amount">Current bank account amount:</ion-text>
				<span>{{ bankAccountAmount() }}</span>
				<ion-text>PLN</ion-text>
			</div>
		</ion-card-content>
	</ion-card>
	<!-- <ion-card class="second-card">
		<ion-card-header>
			<ion-text>Second Card Header</ion-text>
		</ion-card-header>
		<ion-card-content>
			<ion-text>Second card content </ion-text>
			<ion-text>second card content </ion-text>
			<ion-text>second card content </ion-text>
			<ion-text>second card content </ion-text>
			<ion-text>second card content </ion-text>
		</ion-card-content>
	</ion-card> -->
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-text>Maciej Grochowski | Copyright &copy; 2024-2026</ion-text>
	</ion-toolbar>
</ion-footer>
