ion-header {
	ion-toolbar {
		--background: orange;

    ion-text {
      font-weight: 700;
    }
	}
}

ion-content {
	--background: grey;
	position: relative;

	ion-text {
		position: absolute;
		top: 50%;
		left: 50%;
    font-weight: 400;
		transform: translate(-50%, -50%);
	}
}

ion-footer {
	ion-toolbar {
		--background: brown;
		text-align: center;

    ion-text {
      font-weight: 400;
    }
	}
}
