ion-header {
	ion-toolbar {
		--background: orange;

		ion-title {
			.header-wrapper {
				display: flex;
				justify-content: space-between;
				align-items: center;

				ion-icon {
					width: 2rem;
					height: 2rem;
					font-size: 2rem;
				}

				ion-text {
					font-weight: 700;
				}
			}
		}
	}
}

ion-content {
	--background: grey;
	position: relative;

	ion-text {
		position: absolute;
		top: 25%;
		left: 50%;
		width: 90vw;
		font-weight: 400;
		font-size: 1.5rem;
		text-align: center;
		letter-spacing: 0.1rem;
		transform: translate(-50%, -50%);
	}

	.left-btn {
		position: absolute;
		top: 50%;
		left: 25%;
		transform: translateY(-50%);

		.btn-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;

			span {
				font-weight: 700;
				font-size: 0.5rem;
				letter-spacing: 0.1rem;
			}

			ion-icon {
				width: 1rem;
				height: 1rem;
				font-size: 1rem;
			}
		}
	}

	.right-btn {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		top: 50%;
		right: 25%;
		transform: translateY(-50%);

		.btn-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;

			span {
				font-weight: 700;
				font-size: 0.5rem;
				letter-spacing: 0.1rem;
			}

			ion-icon {
				width: 1rem;
				height: 1rem;
				font-size: 1rem;
			}
		}
	}
}

ion-footer {
	ion-toolbar {
		--background: brown;
		text-align: center;

		ion-text {
			font-weight: 400;
		}
	}
}
